<h3>Login and face the music</h3>

<form method="POST" action="/users/login">
    <input name="username" type="text">
    <input name="password" type="text">
    <button type="submit">Submit</button>
</form>
    