<h3>Fill out the below information to sign up</h3>

<form method="POST" action="/users/signup">
    <input name="username" type="text">
    <input name="password" type="text">
    <button type="submit">Submit</button>
</form>
    